<%= form_for(@billablehour) do |f| %>
  <% if @billablehour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@billablehour.errors.count, "error") %> prohibited this billablehour from being saved:</h2>

      <ul>
      <% @billablehour.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.collection_select(:project_id, @projects.all, :id, :project_name, {:selected => @project_id}) %>


  <div class="field">
    <%= f.label :hours %><br>
    <%= f.text_field :hours %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br>
    <%= f.date_select :start_time %>
  </div>
  <%= f.hidden_field :user_id, :value => session[:user_id] %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
