<p id="notice"><%= notice %></p>

<h1>Listing Billablehours</h1>

<table border=1>
  <thead>
    <tr>
      <th>Project</th>
      <th>User</th>
      <th>Hours</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @billablehours.each do |billablehour| %>
      <tr>
        <td><%= billablehour.project_name %></td>
        <td><%= @user.first_name %></td>
        <td><%= billablehour.hours %></td>
        <td><%= billablehour.start_time %></td>
        <td><%= link_to 'Show', billablehour %>
        <%= link_to 'Edit', edit_billablehour_path(billablehour) %>
        <%= link_to 'Destroy', billablehour, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Billablehour', new_billablehour_path %>
