<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @billablehour.project_id %>
</p>

<p>
  <strong>Business:</strong>
  <%= @billablehour.business_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @billablehour.user_id %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @billablehour.hours %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @billablehour.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @billablehour.end_time %>
</p>

<p>
  <strong>Timestamp:</strong>
  <%= @billablehour.timestamp %>
</p>

<%= link_to 'Edit', edit_billablehour_path(@billablehour) %> |
<%= link_to 'Back', billablehours_path %>
