<p id="notice"><%= notice %></p>

<h1>Listing Projects</h1>

<table>
  <thead>
    <tr>
      <th>Project name</th>
      <th>User</th>
      <th>Business</th>
      <th>Budget</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Timestamp</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.project_name %></td>
        <td><%= project.user_id %></td>
        <td><%= project.business_id %></td>
        <td><%= project.budget %></td>
        <td><%= project.start_time %></td>
        <td><%= project.end_time %></td>
        <td><%= project.timestamp %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
