<% if(@user) %>
<h1>Welcome <%= @user.first_name %> (userID: <%= session[:user_id] %>) | <a href="/welcome/logout">Sign Out</a></h1>
<div class="thumbnail"><%= image_tag "#{@user.username}.jpg" %></div>
<h3>Total Earnings YTD: $<%= @totalpay['totalhours'] * @user.hourlyrate %></h3>
<hr>
<h4>Work in Progress</h4>
<table border=1>
  <thead>
    <tr>
      <th>Project ID</th>
      <th>Project Name</th>
      <th>Total Hours</th>
      <th>Hourly Rate</th>
      <th>Unpaid Earnings</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project['id'] %></td>
        <td><%= project['project_name'] %></td>
        <td><%= project['totalhours'] %></td>
        <td>$<%= @user.hourlyrate %>/hr</td>
        <td>$<%= project['totalhours'] * @user.hourlyrate %> <a href="/mail/index?user_id=<%= @user.id %>&project_id=<%= project['id'] %>">Request Payment</a></td>
        <td><a href="/billablehours/new?project_id=<%= project['id'] %>">Add Hours</a> | <a href="/billablehours?project_id=<%= project['id'] %>">Details</a></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
